<html>
<head>
</head>

<body>
<div>
    <a href="/">home</a>
 {{#theStore}}
    <h3>{{store}}</h3>
    <h4>{{city}}</h4>

     <form action="/add-item/{{id}}" method="POST">

        <input type="hidden" value={{id}}/>
        <select name="item">
            <option value="english_muffins">English Muffins</option>
            <option value="wheat_bread">Wheat Bread</option>
            <option value="white_bread">White Bread</option>
            <option value="biscuits">Biscuits</option>
            <option value="buns">Buns</option>
            <option value="jam">Jam</option>
            <option value="chips">Chips</option>
            <option value="dips">Dips</option>
            <option value="trail_mix">Trail Mix</option>
            <option value="rice_cakes">Rice Cakes</option>
            <option value="nuts">Nuts</option>
            <option value="sugar">Sugar</option>
            <option value="spices">Spices</option>
        </select>
        <input type="text" name="qty" placeholder="Quantity"/>
        {{! <input type="text" name="aisle" placeholder="Aisle Number"/> }}
        <input type="submit" value="Submit"/>
    
    </form>

    <ul>
        {{#aislesArray}}
            <li>

                <strong>Aisle: {{aisle_number}}</strong>

                <form action="/add-item/{{store_id}}" method="POST">

                    <input type="hidden" name="aisle" value={{id/> }}

                    {{! <input type="text" name="item" placeholder="Item"/>
                    <input type="text" name="qty" placeholder="Quantity"/>
                    <input type="submit" value="Submit"/> }}

                </form>

                <ul>
                    {{#items}}
                        
                        <li>
                            <p>{{item}}</p>
                            <p>{{qty}}</p>
                            <p>{{aisle}}</p>
                        </li>
                        <br/>
                
                    {{/items}}
                 </ul>
            </li>
            <br/>
        {{/aislesArray}}
    </ul>

 {{/theStore}}

</div>
</body>
